.libs
.*.swp
[Mm]akefile
[Mm]akefile.in
aclocal.m4
*.o
*.lo
*.la
# doc's stuff:
*.info
*.aux
*.cp
*.fn
*.fns
*.ky
*.log
*.pdf
*.ps
*.pg
*.toc
*.tp
*.vr
#
config.*
configure
stamp-h1
test
texinfo.tex
INSTALL
install-sh
libtool
ltmain.sh
mdate-sh
missing
autom4te.cache/
*.dat
compile
test-driver
*~
a.out
m4/
*.pc
tests/*.trs
tests/t-binop
tests/t-memory
tests/t-misc
tests/t-pow
tests/t-str
tests/t-unop
tests/*.gcda
doc/zz.html/
doc/zz.t2p/
coverage.info
coverage/
*.gcno
zz-*.tar.gz
